body {
	background-image: url('https://media.istockphoto.com/id/484470418/photo/soap-bubbles-on-a-white-background.jpg?b=1&s=170667a&w=0&k=20&c=45-k41wIQcIQ-iuQNEdYU0W9yUTs7lN0Z0tc0u5a6b0=');
	width: 100vh;
	display: flex;
    flex-direction: row;
	align-items: center;
}

 /* Nav bar */
 nav {
    background-color: #72a9fb;
    overflow: hidden;
    border-radius: 30px; /* add round borders */
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* add hover effect */
  nav li a:hover {
    background-color: #3cabff;
    color: white;
  }
  
  /* add active/current tab */
  nav li.active a {
    background-color: #72a9fb;
    color: skyblue;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    /* background-color: ; */
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row; /* set the main axis direction to row */
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    gap: 20px;
    width: 100%;
    margin-left: 5vw;
  }
  
  .card {
    width: calc(50% - 10px);
  }
  

  #img {
    display: block;
    width: 50%;
    position: absolute; 
    bottom: 0px; 
    right: 0px;
    transform: translate(30%, 10%);
  }



  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: rgb(3, 3, 3);
    text-align: center;
  }
